---
import { getEntry } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';

// Get the about page content from the CMS
const privacyPage = await getEntry('pages', 'privacy-policy');
const { title, description, foundedYear, lastUpdated } = privacyPage.data;
// Render the markdown content
const { Content } = await privacyPage.render();
const canonicalURL = new URL(Astro.request.url).toString();
---

<MainLayout
    title={title}
  description={description}
  canonicalURL={canonicalURL}
  >

  <div class="container py-16 bg-white">
    <div class="blog-content prose prose-lg mx-auto">
        <h1 class="text-center prose prose-lg">
            {title}
        </h1>
      <Content />
    </div>
  </div>
</MainLayout>


